.fade-in-z {
    opacity: 0;
    transform: translateZ(10px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    will-change: opacity, transform;
}

.fade-in-z.is-visible  {
    opacity: 1;
    transform: none;
}

@media (prefers-reduced-motion: reduce) {
    .fade-in-z{
        transition: none;
        transform: none;
        opacity: 1;
    }
}